<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>apps.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ValidateUserId</servlet-name>
        <servlet-class>apps.ValidateUserId</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>apps.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StuLogOut</servlet-name>
        <servlet-class>student.StuLogOut</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClientUpldDcmnt</servlet-name>
        <servlet-class>client.ClientUpldDcmnt</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustLogOut</servlet-name>
        <servlet-class>client.CustLogOut</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmpLeaveServlet</servlet-name>
        <servlet-class>emp.EmpLeaveServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmpLogOut</servlet-name>
        <servlet-class>emp.EmpLogOut</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmpSalAddServlet</servlet-name>
        <servlet-class>acountant.EmpSalAddServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StuFeeAddServlet</servlet-name>
        <servlet-class>acountant.StuFeeAddServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AcountantLogOut</servlet-name>
        <servlet-class>acountant.AcountantLogOut</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateScheduleServlet</servlet-name>
        <servlet-class>to.CreateScheduleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ToLogOut</servlet-name>
        <servlet-class>to.ToLogOut</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminClientUpldServlet</servlet-name>
        <servlet-class>admin.AdminClientUpldServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddEmpServlet</servlet-name>
        <servlet-class>admin.AddEmpServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToServlet</servlet-name>
        <servlet-class>admin.AddToServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddActntServlet</servlet-name>
        <servlet-class>admin.AddActntServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendMailToClient</servlet-name>
        <servlet-class>admin.SendMailToClient</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendMailToStu</servlet-name>
        <servlet-class>to.SendMailToStu</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ValidateCaptcha</servlet-name>
        <servlet-class>apps.ValidateCaptcha</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgotPswdServlet</servlet-name>
        <servlet-class>apps.ForgotPswdServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ValidateUserId</servlet-name>
        <url-pattern>/ValidateUserId</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StuLogOut</servlet-name>
        <url-pattern>/StuLogOut</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClientUpldDcmnt</servlet-name>
        <url-pattern>/ClientUpldDcmnt</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustLogOut</servlet-name>
        <url-pattern>/CustLogOut</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmpLeaveServlet</servlet-name>
        <url-pattern>/EmpLeaveServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmpLogOut</servlet-name>
        <url-pattern>/EmpLogOut</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmpSalAddServlet</servlet-name>
        <url-pattern>/EmpSalAddServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StuFeeAddServlet</servlet-name>
        <url-pattern>/StuFeeAddServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AcountantLogOut</servlet-name>
        <url-pattern>/AcountantLogOut</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateScheduleServlet</servlet-name>
        <url-pattern>/CreateScheduleServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ToLogOut</servlet-name>
        <url-pattern>/ToLogOut</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminClientUpldServlet</servlet-name>
        <url-pattern>/AdminClientUpldServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddEmpServlet</servlet-name>
        <url-pattern>/AddEmpServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToServlet</servlet-name>
        <url-pattern>/AddToServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddActntServlet</servlet-name>
        <url-pattern>/AddActntServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendMailToClient</servlet-name>
        <url-pattern>/SendMailToClient</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendMailToStu</servlet-name>
        <url-pattern>/SendMailToStu</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ValidateCaptcha</servlet-name>
        <url-pattern>/ValidateCaptcha</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgotPswdServlet</servlet-name>
        <url-pattern>/ForgotPswdServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
